<h2 mat-dialog-title>{{ dialogTitle() }}</h2>

<mat-dialog-content class="document-type-form-dialog__content">
  <mat-stepper
    class="document-type-form-dialog__stepper"
    [linear]="true"
    [selectedIndex]="stepIndex()"
    (selectionChange)="onStepChange($event.selectedIndex)"
    animationDuration="200ms"
  >
    <mat-step [stepControl]="descriptionForm" [editable]="!isDeleted()">
      <ng-template matStepLabel>
        {{ 'pages.adminDocumentTypes.stepDescription' | translate }}
      </ng-template>

      <form [formGroup]="descriptionForm" class="document-type-form__step">
        <mat-form-field appearance="outline" class="document-type-form__field">
          <mat-label>{{ 'pages.adminDocumentTypes.nameUk' | translate }}</mat-label>
          <input matInput formControlName="nameUk" autocomplete="off" />
          @if (fieldError(descriptionForm.controls.nameUk, 'nameUk')) {
            <mat-error>{{ fieldError(descriptionForm.controls.nameUk, 'nameUk') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="document-type-form__field">
          <mat-label>{{ 'pages.adminDocumentTypes.nameEn' | translate }}</mat-label>
          <input matInput formControlName="nameEn" autocomplete="off" />
          @if (fieldError(descriptionForm.controls.nameEn, 'nameEn')) {
            <mat-error>{{ fieldError(descriptionForm.controls.nameEn, 'nameEn') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="document-type-form__field">
          <mat-label>{{ 'pages.adminDocumentTypes.nameRu' | translate }}</mat-label>
          <input matInput formControlName="nameRu" autocomplete="off" />
          @if (fieldError(descriptionForm.controls.nameRu, 'nameRu')) {
            <mat-error>{{ fieldError(descriptionForm.controls.nameRu, 'nameRu') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="document-type-form__field">
          <mat-label>{{ 'pages.adminDocumentTypes.country' | translate }}</mat-label>
          <mat-select formControlName="countryCode">
            @for (option of countrySelectOptions(); track option.code) {
              <mat-option [value]="option.code">{{ option.label }}</mat-option>
            }
          </mat-select>
          @if (fieldError(descriptionForm.controls.countryCode, 'country')) {
            <mat-error>{{ fieldError(descriptionForm.controls.countryCode, 'country') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="document-type-form__field">
          <mat-label>{{ 'pages.adminDocumentTypes.plannedScanPages' | translate }}</mat-label>
          <input matInput type="number" min="0" formControlName="plannedScanPages" />
          <mat-hint>{{ 'pages.adminDocumentTypes.plannedScanPagesHint' | translate }}</mat-hint>
          @if (fieldError(descriptionForm.controls.plannedScanPages, 'plannedScanPages')) {
            <mat-error>{{
              fieldError(descriptionForm.controls.plannedScanPages, 'plannedScanPages')
            }}</mat-error>
          }
        </mat-form-field>
      </form>
    </mat-step>

    <mat-step [stepControl]="fieldsStepForm" [editable]="!isDeleted()">
      <ng-template matStepLabel>
        {{ 'pages.adminDocumentTypes.stepFields' | translate }}
      </ng-template>

      <form [formGroup]="fieldsStepForm" class="document-type-form__step">
        <section class="document-type-form__fields">
          <div class="document-type-form__fields-header">
            <h3>{{ 'pages.adminDocumentTypes.fieldDefinitions' | translate }}</h3>
            <button
              mat-stroked-button
              type="button"
              [disabled]="isDeleted()"
              (click)="addFieldRow()"
            >
              <mat-icon aria-hidden="true">add</mat-icon>
              {{ 'pages.adminDocumentTypes.addField' | translate }}
            </button>
          </div>

          @if (fieldDefinitions.length === 0) {
            <p class="document-type-form__fields-empty">
              {{ 'pages.adminDocumentTypes.noFields' | translate }}
            </p>
          }

          <div formArrayName="fieldDefinitions" class="document-type-form__fields-list">
            @for (fieldGroup of fieldDefinitions.controls; track $index; let i = $index) {
              <div [formGroupName]="i" class="document-type-form__field-row">
                <div class="document-type-form__field-row-main">
                  <mat-form-field appearance="outline" class="document-type-form__field-row-key">
                    <mat-label>{{ 'pages.adminDocumentTypes.fieldKey' | translate }}</mat-label>
                    <input matInput formControlName="key" autocomplete="off" />
                    @if (fieldError(fieldGroupAt(i).controls['key'], 'fieldKey')) {
                      <mat-error>{{
                        fieldError(fieldGroupAt(i).controls['key'], 'fieldKey')
                      }}</mat-error>
                    }
                  </mat-form-field>

                  <div class="document-type-form__field-row-names">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'pages.adminDocumentTypes.nameUk' | translate }}</mat-label>
                      <input matInput formControlName="nameUk" autocomplete="off" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'pages.adminDocumentTypes.nameEn' | translate }}</mat-label>
                      <input matInput formControlName="nameEn" autocomplete="off" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'pages.adminDocumentTypes.nameRu' | translate }}</mat-label>
                      <input matInput formControlName="nameRu" autocomplete="off" />
                    </mat-form-field>
                  </div>
                </div>

                <button
                  mat-icon-button
                  type="button"
                  color="warn"
                  class="document-type-form__field-row-delete"
                  [disabled]="isDeleted()"
                  [attr.aria-label]="'pages.adminDocumentTypes.removeField' | translate"
                  (click)="removeFieldRow(i)"
                >
                  <mat-icon aria-hidden="true">delete</mat-icon>
                </button>
              </div>
            }
          </div>
        </section>
      </form>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions class="document-type-form-dialog__actions" align="end">
  <button mat-stroked-button type="button" (click)="cancel()" [disabled]="saving()">
    {{ 'pages.adminDocumentTypes.cancel' | translate }}
  </button>

  @if (onFieldsStep()) {
    <button mat-stroked-button type="button" (click)="goPrev()" [disabled]="saving()">
      {{ 'pages.adminDocumentTypes.stepBack' | translate }}
    </button>
  }

  @if (onDescriptionStep()) {
    <button mat-flat-button color="primary" type="button" (click)="goNext()" [disabled]="saving()">
      {{ 'pages.adminDocumentTypes.stepNext' | translate }}
    </button>
  }

  @if (onFieldsStep() && !isDeleted()) {
    <button
      mat-flat-button
      color="primary"
      type="button"
      [disabled]="saving()"
      (click)="submit()"
    >
      {{ 'pages.adminDocumentTypes.save' | translate }}
    </button>
  }
</mat-dialog-actions>
